@import '/src/style/header.css';
@import '/src/style/content.css';
@import '/src/style/footer.css';

body {
  background-image: linear-gradient(to bottom right, antiquewhite, rgb(202, 166, 68));
}

#container {
  height: fit-content;
  display: grid;
  grid-template-rows: 25vh auto 10vh;
  padding: 0 5vw 5vh 0;
}

@media screen and (min-width: 1300px)  and (max-width: 1600px){
  #container {
    grid-template-rows: 15vh auto;
  }
}
